<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 오라클 필드 속성이 언더 스코어가 있을 때  카멜 케이스로 변환  -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	 
	<!-- 별칭 -->
	<typeAliases>
 		<typeAlias alias="testDTO" type="farm.test.dto.testDTO" /> 
 		<typeAlias alias="userDTO" type="farm.dto.userDTO" /> 
 		<typeAlias alias="ownerDTO" type="farm.dto.ownerDTO" />
 		<typeAlias alias="farmDTO" type="farm.dto.farmDTO" /> 
 		<typeAlias alias="farmrentDTO" type="farm.dto.farmrentDTO" /> 
 		<typeAlias alias="regioninfoDTO" type="farm.dto.regioninfoDTO" /> 
 		<typeAlias alias="diaryDTO" type="farm.dto.diaryDTO" />
 		<typeAlias alias="ownerrentDTO" type="farm.dto.ownerrentDTO" /> 
 		<typeAlias alias="rejectDTO" type="farm.dto.rejectDTO" /> 
	</typeAliases>

</configuration>